<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PRIVY_APP_ID</key>
	<string>YOUR_PRIVY_APP_ID</string>
	<key>PRIVY_APP_CLIENT_ID</key>
	<string>YOUR_PRIVY_APP_CLIENT_ID</string>
	<key>WALLETCONNECT_PROJECT_ID</key>
	<string>YOUR_REOWN_CLOUD_PROJECT_ID</string>
</dict>
</plist>
